/* Hide scrollbar */
body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}
